//顏色
$color_blue: #282f44
$color_brown: #e6af2e
$color_yellow: #f5d061
$color_white: #ececec
// -----------------------------
*
  font-family: 'Oswald','微軟正黑體'
  

//   border: solid 1px black !important

// header, section
//   display: none

// section#section_contact
//   display: block

// -----------------------------
@mixin ab_center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

@mixin size($w, $h)
  width: $w
  height: $h
// -----------------------------
html, body
  overflow-x: hidden
  font-size: 16px

  
nav.navbar
  transition: 0.5s
  a
    transition: 0.5s

nav.navbar.at_top
  background-color: transparent
  a, a:sisited
    color: $color_white

header
  position: relative
  background-color: $color_blue
  text-align: center
  .icon
    width: 80%
    max-width: 250px
    padding: 250px 0px
  .marginbottom
    position: absolute
    width: 95%
    bottom: 0px
    right: -20px
    animation: upin 2s both
    
  @keyframes upin
    0%
      bottom: -100px
    100%
      bottom: 0px
    
  .explore
    +ab_center
    font-size: 16px
    top: 85%
    color: $color_yellow
    opacity: 0
    transition: 1s
    &:after
      content: "V"
      display: block
      transform: scaleX(1.2) scaleY(0.5) 
    &.at_top
      opacity: 1
    
section
  padding: 60px 0px
  position: relative
  
    
section#section_about
  background-color: $color_brown
  hr
    border-color: rgba(black, 0.7)
  .container
    transform: rotate(15deg) scale(0.9)
  .row
    height: 150px
    color: black
    .r1text
      font-size: 80px
      transition: 0.1s
    .r2text
      font-size: 35px
      transition: 0.3s
    .r3text
      font-size: 50px
      text-align: right
      transition: 0.5s
      
  .marginbottom
    position: absolute
    width: 60%
    top: calc(100% - 2px)
    z-index: 3

  .btn-area
    height: 150px
  a
    +ab_center
    transform: translate(-50%, -50%) rotate(10deg)
  .tri
    transform: rotate(-15deg)
  .tri1
    width: 350px
  .tri2
    width: 20px
    margin-left: 20px
  .tri3
    width: 150px
    margin-left: 70%
  .tri4
    width: 70px
    margin-left: 100%
  .tri5
    width: 80px
    margin-left: 100%

    
section#section_service
  background-color: $color_white
  hr
    border-color: rgba(black, 0.7)
  padding: 80px 0px
  .col-sm-4
    text-align: center
  h3
    color: $color_brown
  .icon_service
    width: 60%
    
    
section#section_works
  background-color: $color_white
  .marginbottom
    position: absolute
    width: 95%
    top: 100%
    z-index: 5
    right: -20px
    animation: upin 2s both
  hr
    border-color: rgba(black, 0.7)
  .work
    height: 230px
    cursor: pointer
    position: relative
    padding: 5px
    &.big
      height: 460px
    .texts
      +ab_center
      color: white
      z-index: 8
      opacity: 0
      transition: 0.5s
      line-height: 24px
    &:before
      content: ""
      display: block
      +ab_center
      +size(100%, 100%)
      background-color: rgba(black,0.7)
      z-index: 5
      opacity: 0
      transition: 0.5s
    
  .work
    overflow: hidden
    img
      height: 100%
      +ab_center
    &:hover
      &:before,.texts
        opacity: 1
      
    
section#section_contact
  background-color: $color_blue
  color: $color_white
  overflow: hidden
  .mails
    height: 400px
    .mailbody
      background-color: $color_white
      color: $color_blue
      padding: 20px
      padding-left: 40px
      position: absolute
      width: 90%
      transform: translateX(-30px)
    .mailcover
      +ab_center
      top: 70%
      transform: rotate(5deg) scale(2) translate(-50%, -50%)
      img
        width: 120%
  input, textarea
    display: block
    background-color: transparent
    border: none
    border: solid 3px $color_blue
  textarea
    height: 140px
    width: 100%
    
    
footer
  position: relative
  background-color: $color_brown
  text-align: center
  .icon
    width: 80%
    max-width: 250px
    padding: 80px 0px